body {
    font-family: sans-serif;
}

.left {
    float: left;
}

.right {
    float: right;
}

.container {
    overflow: auto;
}

.padding-1 {
    padding: 0.2em;
}

.margin-1 {
    margin: 0.2em;
}

.margin-top-bottom-1em {
    margin: 1em 0em;
}

.center {
    margin: auto;
}

.width-20 {
    width: 20%;
}

.width-75 {
    width: 75%;
}

.magic-width {
    width: calc(100% - 18px);
}

.bold {
    font-weight: bolder;
}
